<html>
    <body>
        <form action="newdev" method="post">
            id:<input type="text" name="id" /><br>
            firstname:<input type="text" name="firstname" /><br>
            lastname:<input type="text" name="lastname" /><br>
            phone:<input type="text" name="phone" /><br>
            mail:<input type="text" name="mail" /><br>
            projects:<input type="text" name="projects" /><br>
            skills:<input type="text" name="skills" /><br>
            description:<input type="text" name="description" /><br>
            <input type=submit value="submit">
        </form>
    </body>
</html>