<h1> {{ title }} </h1>
 <div>
Search By: <input  [(ngModel)] = 'listFilter' type="text" class="form-controll"/>
 </div>

 <h3> Filtered By: {{ listFilter}} </h3>

<!--   
<b>Name:</b>
  <input type="text" class="form-control" id="usr">  -->

<table class="table">
    <thead>
        <th>ID</th>
        <th>system Name</th>
        <th>Owner Team</th>
        <th>Used Teches</th>
        <th>System's Plan</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor='let system of systems'>
            <td>{{system.Id}}</td>
            <td>{{system.Name}}</td>
            <td>{{system.Team}}</td>
            <td>{{system.Tech}}</td>
            <td>{{system.Plan}}</td>
            <td>{{system.Description}}</td>
        </tr>
</table>