<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body" >
        <h1>{{listFilter}}</h1>
        <div class="row" >
            Search By:
            <input  [(ngModel)] = 'listFilter' type="text" class="form-control" id="usr">     
        </div><br />
        <div class="row" >
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Mail</th>
                    <th>Projects</th>
                    <th>Skills</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr *ngFor='let developer of developers | mydfilter:listFilter'>
                        <td>{{developer.Id}}</td>
                        <td>{{developer.FirstName}} {{developer.LastName}}</td>
                        <td>{{developer.Phone}}</td>
                        <td><a href='mailto:{{developer.Mail}}' >{{developer.Mail}}</a></td>
                        <td>{{developer.Systems}}</td>
                        <td>{{developer.Skills}}</td>
                        <td>{{developer.Description}}</td>
                    </tr>
            </table>
        </div>
    </div>
</div>
