<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body" >
        <h1>{{listFilter}}</h1>
        <div class="row" >
            <input  [(ngModel)] = 'listFilter' type="text" class="form-control" placeholder="Search everything... add # to search Skills!" >     
        </div><br />
        <div class="row" >
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Mail</th>
                    <th>Projects</th>
                    <th>Skills</th>
                </thead>
                <tbody>
                    <tr *ngFor='let developer of developers | mydfilter:listFilter'>
                        <td>{{developer.Id}}</td>
                        <td>{{developer.FirstName}} {{developer.LastName}}</td>
                        <td>{{developer.Phone}}</td>
                        <td><a href='mailto:{{developer.Mail}}' >{{developer.Mail}}</a></td>
                        <td>{{developer.Systems}}</td>
                        <!-- <td>{{developer.Skills}}</td> -->
                        <!-- <td><ul class="list-inline"><li class="list-inline-item" ></li></ul></td> -->
                        <td><span (click) = "tabClick(skill['Skill'])" class="btn-info" *ngFor="let skill of developer['Skills']">{{skill.Skill}}</span></td>    
                    </tr>
                </tbody>
            </table>
    </div>
</div>
